<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring4:war exploded">
    <output-path>$PROJECT_DIR$/spring4/target/spring4</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring4" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: javax.servlet:javax.servlet-api:3.0.1" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring4/target/spring4/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring4/web/Web" />
    </root>
  </artifact>
</component>