<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring8x0:war exploded">
    <output-path>$PROJECT_DIR$/spring8x0/target/spring8x0</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring8x0" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: aspectj:aspectjrt:1.5.3" />
          <element id="library" level="project" name="Maven: org.aspectj:aspectjweaver:1.8.6" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.39" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring8x0/target/spring8x0/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring8x0/web/Web" />
    </root>
  </artifact>
</component>