<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring6:war exploded">
    <output-path>$PROJECT_DIR$/spring6/target/spring6</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring6" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: javax.servlet:javax.servlet-api:3.0.1" />
          <element id="library" level="project" name="Maven: cglib:cglib:3.2.4" />
          <element id="library" level="project" name="Maven: org.ow2.asm:asm:5.1" />
          <element id="library" level="project" name="Maven: org.apache.ant:ant:1.9.6" />
          <element id="library" level="project" name="Maven: org.apache.ant:ant-launcher:1.9.6" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring6/target/spring6/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring6/web/Web" />
    </root>
  </artifact>
</component>