<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloWorld1" class="cap.service.impl.HelloWorldBeanFactory" factory-method="creatHelloWorldBean">

    </bean>

    <bean id="helloWorldFactory" class="cap.service.impl.HelloWorldBeanFactory"></bean>
    <bean id="helloWorld2" factory-bean="helloWorldFactory" factory-method="creatHelloWorldBean2">

    </bean>

    <bean id="helloWorld3" class="cap.service.impl.HelloWorldImpl" scope="prototype"></bean>
</beans>